<h3 style="@BorderStyle; @ElementStyle">-ChildComponent - @Counter</h3>

<GrandChildComponent></GrandChildComponent>

@code{
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string BorderStyle { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}
