@page "/pc"
<h3 style="@ColorStyle">ParentComponent</h3>
<CascadingValue Value="@ColorStyle" Name="ColorStyle">
    <CascadingValue Value="@BorderStyle" Name="BorderStyle">
        <ChildComponent></ChildComponent>
    </CascadingValue>
</CascadingValue>
@code{
    public string ColorStyle { get; set; } = "color:red";
    public string BorderStyle { get; set; } = "border:1px solid red";
}
