@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>Hello, @context.User.Identity.Name <br /> 
                <a href="/Identity/Account/Logout">Logout</a></Authorized>
            <NotAuthorized>
                <a href="/Identity/Account/Login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
